@inject Serenity.ITextLocalizer Localizer
@{
    ViewData["Title"] = "Purchase Info";
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new ALgorithmPro.ALgorithm.PurchaseGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>