**/bin/Debug/*
**/bin/Release/*
obj/
packages/*/*
*.bak
*.orig
*.pdb
*.suo
*.DotSettings*
*.user
*.mdf
Thumbs.db
ErrorLog.db
StyleCop.Cache
CodeGenerator/app.config
/Bin/
/Imports/
/.config
*.crunchsolution.cache
*.ncrunchproject
*.ncrunchsolution
project.lock.json
*.project.lock.json
/wwwroot/Scripts/SlickGrid/slick.grid.js
/wwwroot/Script/Serenity.CoreLib.d.ts
/wwwroot/Script/Serenity.CoreLib.js
/wwwroot/Script/Serenity.Script.UI.js
/wwwroot/Script/Serenity.Script.UI.min.js
/wwwroot/Script/Serenity.CoreLib.js
/wwwroot/Script/Serenity.CoreLib.min.js
.vs/restore.dg
.vs/
Tools/Addins/
.nupkg/
/Properties/launchSettings.json
node_modules/
/node_modules/
/wwwroot/Script/serenity/Serenity.CodeGeneration.js.map
/wwwroot/Script/serenity/Serenity.CodeGeneration.min.js
.vs/
npm-debug.log
/.axoCover/
/wwwroot/Script/*.min.js
/wwwroot/Script/*.map

/bin/Debug/net5.0/
/wwwroot/Script/serenity/Serenity.CoreLib.*
/wwwroot/Script/serenity/Serenity.CodeGeneration.*
